@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Reset and Basic Styles */
::after,
::before {
  box-sizing: border-box;
}

body,
h1,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbfe;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333; /* Color change to match the design */
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}

/* Sidebar Styles */
#sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-top: 20px;
  justify-content: center;
}

.sidebar-nav li a {
  width: 48px; /* Adjust this based on the size of your sidebar */
  height: 48px;
  color: #007bff;
  padding: 10px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the icon initially */
  border-radius: 24px;
  background-color: #e8f0fe;
  transition: background-color 0.3s ease, border-radius 0.3s ease;
  position: relative;
  overflow: hidden;
}

.sidebar-nav li a i {
  position: relative; /* Ensure icon layering is correct */
  z-index: 2; /* Ensure the icon stays above the text */
}

.sidebar-nav li a span {
  position: absolute;
  align-items: center;
  position: absolute;
  left: 60%; /* Start outside the right edge of the icon container */
  white-space: nowrap; /* Prevent text wrapping */
  opacity: 0; /* Start fully transparent */
  visibility: hidden; /* Hide the text initially */
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease;
  margin-left: 5px; /* Space between the icon and the text */
  background-color: #0056b3; /* Background color for the text */
  color: #fff; /* Text color */
  border-radius: 20px; /* Border-radius for pill shape */
  padding: 10px; /* Padding around the text */
}

/* Hover states */
.sidebar-nav li a:hover,
.sidebar-nav li.sidebar-item.active a {
  width: auto; /* Allow the container to expand to fit the text */
  padding-right: 85px; /* Add padding to reserve space for the text,*/
  border-radius: 30px; /* Pill shape */
  background-color: #0056b3;
}

.sidebar-nav li a:hover i,
.sidebar-nav li.sidebar-item.active a i {
  color: #fff;
}

.sidebar-nav li a:hover span,
.sidebar-nav li.sidebar-item.active a span {
  opacity: 1;
  visibility: visible;
  left: 20px; /* Move the text next to the icon */
  transition-delay: 0.1s; /* Slight delay for a smoother appearance */
}
